This script is replicaiton of knime for Don't get Kicked comptetion in kagggle

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("F:/Don't get kicked/data/training.csv")

In [3]:
df_train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

### Preprocssing:

1. Remove Wheelid, Refid, buyerNo, Vnzip from the dataframe
2. Replacing missing and null values by mean if column is numeric and mode if column is string

In [4]:
def remove_col(data_frame):
    
    del(data_frame['RefId'])
    del(data_frame['BYRNO'])
    del(data_frame['VNZIP1'])
    
    return data_frame

In [5]:
df_train = remove_col(df_train)

In [99]:
# this function will na vlaues by means if it will find any continuos variable. In the case of Categorical it will fill na by
# mode values, and will skip date column without change

def fill_na_mean_median(dataframe, echo = True):
    for i in dataframe.columns:
        if(type(dataframe[i].mode()[0]) == str):
            dataframe[i]= dataframe[i].fillna(dataframe[i].mode()[0]) # fill na by median Values
            if(echo):
                print 'column name: ',i
                print type(dataframe[i][0]),': replaced with mode'
    
        else:
            dataframe[i]= dataframe[i].fillna(dataframe[i].mean()) # fill na by mean Values
            if(echo):
                print 'column name: ',i
                print type(dataframe[i][0]), ': replaced with mean'
            
    return dataframe

In [100]:
df_train = fill_na_mean_median(df_train,False)